
@media only screen and (max-width: 600px) {

    .navbar {
        
        background-color: #ca4172;
        height: 80px;
        box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, .42);
    }


}